* {
    font-family: 'Noto Sans', 'Noto Serif JP', serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    margin: 0;
    padding: 10px;
    background: paleturquoise;
    color: #333;
}

header a {
    color: #333;
    text-decoration: none;
    border-bottom: #333 dotted 1px;
}

h1,
h2 {
    font-weight: normal;
}

h1:after {
    content: 'NINJAL Okinawan Dictionary Online (Unofficial)';
    display: block;
    font-size: 20px;
}

h2 {
    font-size: 16px;
    padding: 5px;
}

#license {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 12px;
}

form {
    padding-top: 2rem;
    margin: auto;
    width: 50%;
}

input {
    border: none;
    outline: none;
    border-bottom: 3px dotted seagreen;
    background: rgba(256, 256, 256, 0.5);
    width: 80%;
    color: #333;
    height: 1.5rem;
    padding: 0 5px;
}

button {
    border: none;
    outline: none;
    color: white;
    padding: 4px;
    height: 1.6rem;
    background: seagreen;
}

section {
    float: left;
    margin: auto 0;
    padding: 30px;
}

.table {
    background: #eee;
    margin: 5px;
    padding: 5px;
}

#result .table p {
    font-size: 14px;
    margin: inherit;
    line-height: 1.4em;
}

#result h3 {
    font-size: 16px;
    margin: inherit;
}

.midasi {
    display: inline-block;
    padding-right: 3rem;
}

#history h3,
#history p {
    font-size: 12px;
    margin: auto 0;
}

#history .now {
    display: none;
}

@media screen and (min-width:481px) {
    section:first-of-type {
        width: 50%;
    }

    section:nth-of-type(2) {
        width: 40%;
    }
}

@media screen and (max-width:480px) {
    h1 {
        position: relative;
        top: 15px;
    }

    form {
        width: 100%;
        text-align: center;
    }

    section {
        float: none;
        width: calc(100% - 20px);
        padding: 10px;
    }

    #result .table {
        width: calc(100% - 20px);
    }
}