* {
    font-family: 'Alegreya Sans', serif;
}

section {
    float: left;
    width: 50%;
}

.table {
    background: #eee;
    margin: 5px;
    padding: 5px;
}

.table p {
    font-size: 13px;
}

h3 {
    font-size: 15px;
}

.tmp_none {
    display: none;
}